{% extends 'base.html.twig' %}

{% block title %}garage V.perrot{% endblock %}

{% block body %}
{% if app.user %}
    <h1 class="text-center mt-5 mb-5">Bienvenue, {{ app.user.fristname }} !</h1>
    {% else %}
    <h1 class="text-center mt-5 mb-5">Bonjour  </h1>
{% endif %}

<div class="d-flex justify-content-around">

{% if app.user %}
    {# L'utilisateur est connecté #}
    <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary">Déconnexion</a>
<a href="{{path('app_create_annonces')}}" class="btn btn-outline-secondary">Créer une annonce</a>
<a href="{{path('app_annonces_list')}}" class="btn btn-outline-secondary">Liste des annonces</a>

    {# Ajoutez ici les autres liens pour l'utilisateur connecté #}
{% else %}
    {# L'utilisateur n'est pas connecté #}
    <a href="{{ path('app_login') }}" class="btn btn-outline-secondary">Connexion</a>
{% endif %}
{% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_register')}}" class="btn btn-outline-secondary">Je crée un compte</a>
{% endif %}


</div>
{% endblock %}
