{% extends 'base.html.twig' %}

{% block title %}{{annonce.slug}}{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">{{annonce.title}}</h1>
     

    <div class="card mx-auto" style="width: 40rem;">
    <style>
    .carousel-item img {
        width: 100%;
        height: auto;
    }
</style>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{{ asset('uploads/images/' ~ annonce.images.imgUne) }}" class ="img-fluid d-block" alt="image">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('uploads/images/' ~ annonce.images.imgDeux) }}" class ="img-fluid d-block" alt="image">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('uploads/images/' ~ annonce.images.imgTrois) }}" class ="img-fluid d-block" alt="image">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('uploads/images/' ~ annonce.images.imgQuatre) }}" class ="img-fluid" alt="image">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('uploads/images/' ~ annonce.images.imgCinq) }}" class ="img-fluid" alt="image">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('uploads/images/' ~ annonce.images.imgSix) }}" class ="img-fluid" alt="image">
    </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <h2 class="text-center"> Pirx: {{ annonce.price }} €</h2>
        <h3 class="text-center">Année: {{ annonce.year }}</h3>
        <div class="card-body">
       <p class="card-text">REF: {{ annonce.id }}</p>
         <p class="card-text">{{ annonce.description }}</p>
          <div class="row">
        <div class="mx-auto">
        <table class="table table-bordered border-secondary text-center">
        <tr>
        <td>Marque</td>
        <td>{{ annonce.brand }}</td>
        <td>Model</td>
        <td>{{ annonce.model }}</td>
        </tr>

         <tr>
        <td>Carburent</td>
        <td>{{ annonce.fuel }}</td>
        <td>Kilométre</td>
        <td>{{ annonce.mileage }} KM</td>
        </tr>
        </table>

         <table class="table table-bordered border-secondary text-center">
        <tr>
        <td>GPS</td>
        <td>{{ annonce.options.gps }}</td>
        <td>Climatisation</td>
        <td>{{ annonce.options.clim}} </td>
        <td>Bluetooth</td>
        <td>{{ annonce.options.bluetooth}} </td>
        </tr>

        <tr>
         <td>Régulateur</td>
        <td>{{ annonce.options.regulateur }}</td>
        <td>Limitateur</td>
        <td>{{ annonce.options.limitateur}} </td>
         <td>Système freinage d'urgence</td>
        <td>{{ annonce.options.sfu}} </td>
        </tr>

         <tr>
         <td>Système d'aide à la conduite</td>
        <td>{{ annonce.options.sac }}</td>
        <td>Caméra de recul</td>
        <td>{{ annonce.options.camera}} </td>
         <td>aide au stationnement</td>
        <td>{{ annonce.options.sas}} </td>
        </tr>
      </table>
      <div class="d-flex jutify-content-center">
      <a href="{{path('app_annonces_list')}}" class="text-center btn btnbtn-outline-secondary mt-5">retour a la liste des annonces</a>
      </div>
      
        </div>
    </div>
</div>

    </div>
   
{% endblock %}
